<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" th:href="@{/assets/images/favicon_1.ico}">
    <title>付款失败</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/weui.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/weuix.css}" />
    <script th:src="@{/js/zepto.min.js}"></script>
    <script>
        $(function(){

        });
    </script>
</head>
<body ontouchstart>
    <div class="weui-cells__title" style="text-align: center;">
        <div class="icon-box">
            <i class=".weui-icon-warn weui-icon_msg"></i>
        </div>
        <div class="icon-box__ctn">
            <h3 class="icon-box__title">付款失败！</h3>
        </div>
    </div>

    <div class="weui-footer weui-footer_fixed-bottom">
        <p class="weui-footer__text">Copyright 2019 &copy; 擎谱集团</p>
    </div>
</body>
</html>